header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}
header .search {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
header .search input {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}
header .search img {
  cursor: pointer;
}