footer.footer
    section.footer__information
        img.footer__information--logo(src="../../assets/icons/AluraGeek-logo.png", alt="Logo Alura Greek")
        nav.footer__nav: ul.footer__nav--list 
            li: a(href="#").footer__nav--item About us 
            li: a(href="#").footer__nav--item Privacy policy
            li: a(href="#").footer__nav--item Allegiance program
            li: a(href="#").footer__nav--item Our stores
            li: a(href="#").footer__nav--item I want to be a franchisee
            li: a(href="#").footer__nav--item Announce here 
        form(action="submit").footer__form
            label(for="name") Full name: 
            input(type="text") 
            textarea(name="footer", cols="30", rows="10" placeholder="Write your message here")
            button(type="submit") Send message 
    section.footer__developed
        span.footer__developed--name Developed by Alejandra Toro Grisales 
        span.footer__developed--year 2022 