.allProducts{
    @include products;
    &__button{
        width: auto;
        height: auto;
        align-self: center;
        justify-self: flex-end;
        margin-right: 5%;
    }
    &__icons{
        display: flex;
        position: absolute;
        width: 100%;
        .trashIcon, .editIcon{
            width: 1.2rem;
            margin: 0 2px;
            cursor: pointer;
        }
    }
    &__editProduct{
        width: 60%;
    }

    &__inputImgModal{
        margin-bottom: 0.5rem;
    }

    &__changes{
        margin-top: 0.5rem;
        align-self: center;
    }
}
