header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5%;
    a > img{
        cursor: pointer;
        @include media(mobile-only){
            width: 100px;
        }
    }
    .search{
        order: 3;
        display: flex;
        input{
            display: none;
            order: -1;
            margin-right: 0.5rem;
            border-radius: 5px;
            border: 1px solid black;
            color: $color-font;
            padding: 0.2rem;
        }
        ::placeholder{
            color: $background-buttons;
        }
        input:hover{
            border: 1px solid $background-buttons;
        }
        img{
            cursor: pointer;
        }
    }
    .search:hover > input{
        display: block;
    }
    @include media(tablet){
        .search{
            order: 0;
            display: flex;
            border: 1px solid black;
            border-radius: 20px;
            width: 20%;
            input{
                display: block;
                order: -1;
                border: none;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                width: 92%;
                padding-left: 5px;
            }
            input:hover{
                border: none;
            }
            img{
                object-fit: contain;
                border-bottom-right-radius: 10px;
            }
        }
    }

}
