.login{
    text-align: center;
    margin: 5%;
    @include buttons;
    button{
        width: 30%;
    }
    @include media(tablet-p-only){
        .form-floating{
            width: 50%;
            margin: 1.5rem auto;
        }
    }
    @include media(desktop-s){
        .form-floating{
            width: 30%;
            margin: 1.5rem auto;
        }
        button{
            width: 15%;
            margin-top:0 ;
        }
    }
}