extend components/template.pug
block contents
    +head("All products")
    body 
        +header("Login")
        main.allProducts
        h2.allProducts__title Todos los productos 
        a(href="").allProducts__button Agregar producto
        ul.allProducts__list
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 
            li
                img(src="", alt="")
                h3 
                strong 